@import "tailwindcss";


@font-face {
    font-family: "SourceSerifPro";
    src: url(/Fonts/SourceSerifPro-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "SourceSerifPro";
    src: url(/Fonts/SourceSerifPro-Semibold.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "SourceSerifPro";
    src: url(/Fonts/SourceSerifPro-Bold.ttf);
    font-weight: 700;
}



@layer utilities{
    .font-SourceSerifPro{
    font-family : "SourceSerifPro", sans-serif;
    }
}

